@using System.Web.Mvc.Html
@model Connected.Configuration.WebApp.Plugins.Sample1.Models.Sample1
@{
}

<h2>@ViewBag.Title</h2>

<p>
    Sample1 Index
</p>
<p>
    Model Value : @Html.DisplayFor(model => model.Value1)
</p>
<p>
    Layout : @ViewBag.Layout
</p>